import uvm_pkg::*;
`include "uvm_macros.svh"

class my_test extends uvm_test;
    `uvm_component_utils(my_test)
    
    function new (string name, uvm_component parent);
        super.new(name, parent);
    endfunction : new

    task run_phase (uvm_phase phase);
        phase.raise_objection(this);
        $display("Hello UVM");
        phase.drop_objection(this);
    endtask : run_phase 
endclass : my_test

module top;
    initial begin
        run_test();
    end
endmodule